<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/route1">Route 1</a>
        </li>
        <li>
            <a href="/route2">Route 2</a>
        </li>
    </ul>
</nav>
