<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header'); %>
    </head>

    <body>
        <%- include("../partials/nav"); %>

        <p>Dette er <strong>eksempel 1</strong>, som har samme head og navbar som eksempel 2 vha. partials.</p>
    </body>
</html>
